<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-widh}, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form.errors %}
    <p>Login nie istnieje</p>
    {% endif %} 

    {% if next %}
    <p>Nie masz dostepu do tej strony</p>
    {% endif %}

    <form method="post" action={% url 'login' %}>
        {% csrf_token %}

        <p>login: {{ form.username }}</p>
        <p>hasło: {{ form.password }}</p>


        <p><input type="submit" value="login"></p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

</body>
</html>