{% extends 'obieg/index.html' %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-header ">
                    <h3 class="card-title">{{ title }}</h3>
                    <div class="card-tools">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal">
                            Usuń
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <embed src="{{ MEDIA_URL }}{{ doc.document }}" type="application/pdf" height="800" width="100%">
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer -->
            </div>
            <!-- /.card --> 
        </div>
        <!-- /.com-sm-12 -->
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header ">
                    <h3 class="card-title">Opis dokumentu</h3>
                    <div class="card-tools">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                        <button class="btn btn-sm btn-primary">Edytuj</button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>Opis :</p>
                    <p>{{ doc.description }}</p>
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer -->
            </div>
            <!-- /.card --> 
        </div>
        <!-- /.com-sm-12 -->
    </div>
    <!-- /.row -->
</section> 
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Uwaga</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Czy chcesz usunąć plik</p> <p><strong>{{ doc.document }}</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Anuluj</button>
          <a href="{% url 'doc_del' pk=doc.pk %}" class="btn btn-sm btn-danger">Usuń</a>
        </div>
      </div>
    </div>
{% endblock content %}