{% extends 'obieg/index.html' %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header ">
                    <h3 class="card-title">{{ title }}</h3>
                    <div class="card-tools">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                        <span class="badge badge-primary">Label</span>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tab1" class="table table-sm">
                        <thead class="thead">
                            <tr>
                                <th>Dokument</th>
                                <th>Opis</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in docs %}
                                <td><a href="{% url 'doc_details' pk=doc.pk %}">{{ doc.document }}</td>
                                <td>{{ doc.description |capfirst}}</td>
                                <td>{{ doc.uploaded_at}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer -->
            </div>
            <!-- /.card --> 
        </div>
        <!-- /.com-sm-12 -->
    </div>
    <!-- /.row -->
</section> 
{% endblock content %}
