{% extends 'obieg/index.html' %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header ">
                    <h3 class="card-title">{{ title }}</h3>
                    <div class="card-tools">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                        <span class="badge badge-primary">Label</span>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <p class="card-text">
                    Aby przesłać nową fakturę nacisnij przycisk wybierz
                  </p>
                  <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors}} 
                    <div class="form-row">
                      <div class="col">
                        <div class="fieldWrapper form-group">
                          {{ form.document.errors }}
                          {{ form.document.label_tag }}
                          {{ form.document }}
                        </div>
                      </div>
                      <div class="col">
                        <div class="fieldWrapper form-group">
                          {{ form.data_dok.errors }}
                          {{ form.data_dok.label_tag }}
                          {{ form.data_dok }}
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="fieldWrapper form-group">
                          {{ form.rodzaj_dokumentu.errors }}
                          {{ form.rodzaj_dokumentu.label_tag }}
                          {{ form.rodzaj_dokumentu }}
                        </div>
                      </div>
                      <div class="col">
                        <div class="fieldWrapper form-group">
                          {{ form.zuzyto_cel.errors }}
                          {{ form.zuzyto_cel.label_tag }}
                          {{ form.zuzyto_cel }}
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-sm btn-primary" type="submit">Prześlij</button>
                  </form>
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer -->
            </div>
            <!-- /.card --> 
        </div>
        <!-- /.com-sm-12 -->
    </div>
    <!-- /.row -->
</section> 
{% endblock content %}