{% extends 'obieg/index.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Przesłanie dokumentu</h5>

              <p class="card-text">
                Aby przesłać nową fakturę nacisnij przycisk wybierz
              </p>

              <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Prześlij</button>
              </form>

            </div>
          </div>

        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  {% endblock content %}